<div id="friend-lookup">
  <h3>Search for friend</h3>
  <%= form_tag  search_friends_path, remote: true, method: :get, id: 'friend-lookup-form' do %>

      <div class="form-group row no-padding text-center col-md-12">
        <div class="col-md-10">
          <%= text_field_tag :search_param, params[:search_param],
                             placeholder:'First name, last name, or email', autofocus: true,
                             class: 'form-control search-box input-lg'%>
        </div>
        <div class="col-md-2">
          <%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do%>
              <i class="fa fa-search"> Look up a friend</i>
          <% end %>
        </div>
      </div>
      <%= render 'common/spinner' %>
      <% if @users %>
          <% if @users.size > 0 %>
            <div id="friend-lookup-results" class="well results-block col-md-12">
              <table class="search-result-table col-md-12">
                <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><Strong>Name </Strong><%= user.full_name%></td>
                    <td><Strong>Email </Strong><%= user.email%></td>
                    <td><%= link_to 'View Profile', users_path(user),
                                                            class: 'btn btn-xs btn-success'%>
                      </td>
                      <% if current_user.not_friend_with?(user.id) %>
                    <td>  <%= link_to 'Add as my friend', add_friend_path(user:current_user, friend: user),
                      class: "btn btn-xs btn-success", method: :post%>
                      <% else %>
                      <td>  <span class="label label-primary">
                          You are friends
                        </span>
                          </td>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
             <% else %>
              <p class="lead col-md-12">
                No people match this search criteria
              </p>
              <% end %>
                <br>
          </div>
      <%end %>
  <% end %>
          <div id="friend-lookup-errors"></div>
</div>